body {
  background-image: linear-gradient(to bottom, #accbee 0%, #e7f0fd 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

@media screen and (max-width: 768px) {
	body {
    min-height: 100%;
	}
}

#root {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}